*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "General Sans";
    background-color: black;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav{
    width: 100%;
    padding: 30px 44px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}

#nav h2{
    font-size: 13px;
    font-weight: 500;
}
#head{
    margin-top: 90px;
}
#head h1{
    font-family: "General Sans";
    font-size: 10vw;
    font-weight: 500;
    line-height: 1;
    opacity: 0.6;
    margin-left: 40px ;
}

#head #des{
    line-height: 0.7;
    margin-left: 185px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;

}
.blocktext h5{
    font-size: 0.8vw;
    line-height: 6;
    text-align: right;
}

#bottom-head{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 115px;
}

#bottom-head h5{
    text-align: right;
    margin-top: 0.5vw;
    padding-right: 40px;
    text-transform: uppercase;
    font-size: 0.8vw;
}

.h5-1{
    padding-bottom: 0.5vw;
}

#bottom-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.6vw;
    padding: 0 2.5vw;
    position: absolute;
    bottom: 4%;
    padding:0 2.5vw ;
    width: 100%;
}

#bottom-footer a{
    text-decoration: none;
    color: white;
}

#arr{
    padding-left: 0.2vw;
    height: 1vh;
    width: 1vw;
}

#iconset{
    display: flex;
    gap: 4px;
    margin-top: 0.6vw;
}

#bottom-footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width:28px;
    height: 28px;
    border: 2px solid #999797;
    border-radius: 50%;
    background-color:#999797;
}

#bottom-footer .circle i{
    font-size: 14px;
    font-weight: 800;
    color: black;
    background-color: #999797;
}

#second{
    color: #999797;
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 250px;
    padding-right:10vw;
    padding-left: 4vw;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #999797;
    border-left: none;
    border-right: none;
    padding: 3vw 0vw;
}

.elem h1{
   font-size: 7vw;
}

.elem img{
    z-index: 999;
    position: absolute;
    height: 100%;
    opacity: 0;
}

#about{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10vw 10vw;
    padding-top: 400px;
    width: 100%;
}

#about img{
    width: 220px;
    margin-left: 30vw;
}
#text-about p{
    color: #999797;
    line-height: 1.6;
}
#text-about h5{
    line-height: 2.1;
    margin-bottom: 25px;
}
#text-about{
    font-weight: 200;
    width: 30rem;
    margin-right: 7vw;
    margin-bottom: 10px;
    font-size: 1.0vw;
}

#about button{
    font-size: 12px;
    padding: 6px 22px;
    border-radius:100px;
    border: 1.5px solid white;
    color: #999797;
}

#subscribe{
    padding-left: 2vw;
    padding-bottom: 10vw;
}
#subscribe h5{
    font-size: 0.7vw;
    color: #999797;
    margin-bottom: 8px;
}

#subscribe h3{
    font-size: 12px;
}

#footer{
    font-size: 1vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

#footerleft{
    display: flex;
    gap: 30px;
    color: white;
}
#footerright{
    font-size: 0.8vw;
    display: flex;
    gap: 50px;
}
#footer a{
    color: white;
    text-decoration: none;
}

#minicircle{
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    z-index: 99999;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundinglm{
    transform: translateY(100%);
}

.elem:hover{
    color: #595151;
}

.elem:hover h1{
    transform: translateX(60px);
    scale: 1.2;
}
.elem h1{
    transition: 1s ease;
}

#text-about button:hover{
    background-color:white;
    color: black;
}
#text-about button{
    transition: 1s ease;
}




